.THIS{
    
}
.THIS.parent {
  width: 100%;
  border: 1px solid ;
  float: left;
    font-family: Arial;
    
}

.THIS.child {
  width: 80%;
  padding: 5%;
  border: 1px solid black;
  margin-left:5%;
    margin-right:5%;
    font-family: Arial;
}

.THIS.Text {
  font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;
}


.THIS .slds-button {
   
    background-color: #fdb913;
    padding: 0.2rem 2rem;
    margin-bottom: .5rem 0 0 .5rem;
    width: 200px;
    font-weight: bold !important;
    text-align: center;
    text-decoration: none !important;
    text-shadow: none;

}
.THIS.cContactLegalTermConditions .slds-button{
    border-color: rgb(250, 250, 251);
}
.THIS.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.THIS.checkbox input:checked:before {
  background-color: green;
}

.THIS.NextButtonC:hover {
  background-color: #fdb913; 
    color: #fdb913;
}